[user]
	name = Serge Van Meerbeeck
	email = serge.vanmeerbeeck@gmail.com
[credential]
  useHttpPath = true
	helper = /usr/local/share/gcm-core/git-credential-manager
[includeIf "gitdir:/Users/serge/code/work/**"]
    path = /Users/serge/code/work/.gitconfig
[includeIf "gitdir:/Users/serge/code/personal/**"]
    path = /Users/serge/code/personal/.gitconfig
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
	cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" -c \"wincmd J\"
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	autocrlf = input
