[user]
	name = Serge Van Meerbeeck
	email = serge.vanmeerbeeck@gmail.com
[credential]
	helper = manager-core
  useHttpPath = true
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[includeIf "gitdir:/Users/serge/code/kluwer/**"]
    path = /Users/serge/code/kluwer/.gitconfig
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
	cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" -c \"wincmd J\"
[credential "https://dev.azure.com"]
	useHttpPath = true
